<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{MM-dd-yyyy hh:mm:ss a, GMT-5} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="org.springframework.web.context.request.async" level="ERROR"/>
    <logger name="org.springframework.web.servlet.mvc.method.annotation.ExceptionHandlerExceptionResolver" level="ERROR"/>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
